<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="logs-folder" value="logs"/>
    <property name="contextName" value="act-server"/>
    <!--<insertFromJNDI env-entry-name="java:comp/env/logback/contextName" as="contextName"/>-->
    <contextName>${contextName}</contextName>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %X{hiContext} %logger{36}:%L - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs-folder}/${contextName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs-folder}/${contextName}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100mb</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %X{hiContext} %logger{50}:%L - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <logger name="cn.raiyee.act" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="FileLog"/>
    </logger>

    <logger name="org.n3r.eql" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="FileLog"/>
    </logger>

    <logger name="eql" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="FileLog"/>
    </logger>

    <logger name="org.n3r.diamond" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <logger name="org.apache.shiro.mgt" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <logger name="com.alibaba" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>


</configuration>
